.res {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50vw;
  margin: auto;
  border: 2px solid grey;
  margin-top: 45px;
  text-align: center;
}

.btn {
  background-color: cadetblue;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 30px;
}

.input {
  margin-top: 40px;
  margin-left: 40px;
}

.msg {
  text-align: center;
}


